In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
from past.builtins import xrange
import datetime
from datetime import timedelta
from pandas import DataFrame
from scipy.fftpack import fft, ifft,dct
import pywt
import scipy.stats as stats
from sklearn.metrics import classification_report, accuracy_score, make_scorer

import warnings
warnings.filterwarnings("ignore")

In [2]:
insulin_data1=pd.read_csv('InsulinData.csv',low_memory=False, parse_dates = [['Date', 'Time']])[['Date_Time', 'BWZ Estimate (U)']]
cgm_data1=pd.read_csv('CGMData.csv',low_memory=False,parse_dates = [['Date', 'Time']])

In [3]:
def trimData(insulin_data, cgm_data):
    min_insulin_time = min(insulin_data['Date_Time'])
    min_cgm_time = min(cgm_data['Date_Time'])
    min_timestamp = max(min_insulin_time, min_cgm_time)
    max_insulin_time = max(insulin_data['Date_Time'])
    max_cgm_time = max(cgm_data['Date_Time'])
    max_timestamp = min(max_insulin_time, max_cgm_time)
    insulin_trimmed = insulin_data[(insulin_data['Date_Time'] >= min_timestamp)]
    insulin_trimmed = insulin_trimmed.reset_index(drop=True)
    insulin_trimmed = insulin_data[(insulin_data['Date_Time'] <= max_timestamp)]
    insulin_trimmed = insulin_trimmed.reset_index(drop=True)
    cgm_trimmed = cgm_data[(cgm_data['Date_Time'] >= min_timestamp)]
    cgm_trimmed = cgm_trimmed.reset_index(drop=True)
    cgm_trimmed = cgm_data[(cgm_data['Date_Time'] <= max_timestamp)]
    cgm_trimmed = cgm_trimmed.reset_index(drop=True)
    return insulin_trimmed, cgm_trimmed

In [4]:
insulin_data1_trimmed, cgm_data1_trimmed = trimData(insulin_data1, cgm_data1)

In [5]:
Bool_carbinput_data1=pd.notnull(insulin_data1_trimmed['BWZ Estimate (U)'])
insuline_data_ext1=insulin_data1_trimmed[Bool_carbinput_data1]
insuline_data_ext1 = insuline_data_ext1[insuline_data_ext1['BWZ Estimate (U)'] != 0].sort_values(by=['Date_Time'], ignore_index = True)
insuline_data_ext1 = insuline_data_ext1.reset_index(drop=True)

In [6]:
def extract_meal_cgm_timestamps(meal_dataframe):
    meal_data = []
    time_val = []
    meal_len = len(meal_dataframe)-1
    for row in range(0,meal_len):
        new_time = meal_dataframe.at[row, 'Date_Time'] + timedelta(hours = 2)
        if(new_time > meal_dataframe.at[row+1, 'Date_Time']):
           continue
        else:
             meal_data.append(meal_dataframe.at[row, 'Date_Time'])
             time_val.append(meal_dataframe.at[row, 'BWZ Estimate (U)'],)
    meal_dataframe_fin = pd.DataFrame(meal_data)
    meal_dataframe_fin['val'] = time_val
    return meal_dataframe_fin

In [7]:
# result = []
meal_data1 = extract_meal_cgm_timestamps(insuline_data_ext1)
print(meal_data1)

                      0   val
0   2017-07-25 10:39:46   6.4
1   2017-07-25 18:31:40  12.1
2   2017-07-26 12:48:41   7.4
3   2017-07-26 19:15:06   6.2
4   2017-07-27 05:45:51   2.8
..                  ...   ...
718 2018-02-11 12:43:23   3.2
719 2018-02-11 18:14:37   1.0
720 2018-02-11 20:33:18   8.8
721 2018-02-12 00:15:41   2.5
722 2018-02-12 02:30:55   1.2

[723 rows x 2 columns]

In [8]:
cgm_data1_trimmed['Sensor Glucose (mg/dL)'] = cgm_data1_trimmed['Sensor Glucose (mg/dL)'].interpolate(method = 'linear')

In [9]:
cgm_data1_trimmed = cgm_data1_trimmed[['Date_Time','Sensor Glucose (mg/dL)']]
cgm_data1_trimmed = cgm_data1_trimmed.reindex(index=cgm_data1_trimmed.index[::-1])
cgm_data1_trimmed = cgm_data1_trimmed.reset_index(drop=True)

In [10]:
def meal_cgm_extraction(meal_cgm_dataframe, cgmdata):
    list1 = ['cgm_val'+str(x) for x in range(30)]
    meal_data = pd.DataFrame(columns = list1)
    next_hit_list = []
    for id in meal_cgm_dataframe.index:
        dict1 = dict()
        data_sets = cgmdata[cgmdata['Date_Time'] >= meal_cgm_dataframe[0][id]]
        data_set_list = list(cgmdata.loc[data_sets.index[0]-6: data_sets.index[0]+23, 'Sensor Glucose (mg/dL)'].values)
        next_hit_list.append(cgmdata.loc[data_sets.index[0], 'Sensor Glucose (mg/dL)'])
        cgm_list=[]
        for id1, cgm_val in enumerate(data_set_list):
            cgm_list.append(cgm_val)
            for cgm in cgm_list:
              dict1[list1[id1]] = cgm_val
        meal_data = meal_data.append(dict1, ignore_index = True)
    meal_data['val']=list(meal_cgm_dataframe['val'])
    return meal_data,next_hit_list

In [11]:
cgm_meal1,next_hit_list = meal_cgm_extraction(meal_data1, cgm_data1_trimmed)
meal_cgm_master = cgm_meal1.reset_index(drop=True)
meal_cgm_master_list = meal_cgm_master.values.tolist()

In [12]:
meal_list_fin = []
meal_df = meal_cgm_master.drop(columns=['val'])
print(meal_df)
meal_list = meal_df.values.tolist()
for row in meal_list:
  for i in row:
    meal_list_fin.append(i)
max_val = max(meal_list_fin) 
min_val = min(meal_list_fin)
print(min_val)
print(max_val,min_val)
bin_size=int(max_val)//20
bins=range(bin_size)
dict1={}
for i in range(0,len(bins)-1):
  if i ==0:
    dict1[i]=min_val
  else:
    dict1[i]=dict1[i-1]+20
dict1.pop(0)
print(dict1)

       cgm_val0    cgm_val1    cgm_val2  ...  cgm_val27  cgm_val28  cgm_val29
0    314.000000  310.000000  309.000000  ...        NaN        NaN        NaN
1     58.000000   59.000000   63.000000  ...      198.0      203.0      196.0
2    304.000000  292.000000  281.000000  ...      284.0      283.0      278.0
3     40.000000   40.000000   40.000000  ...       74.0       77.0       81.0
4    212.000000  210.000000  204.000000  ...      209.0      210.0      209.0
..          ...         ...         ...  ...        ...        ...        ...
718  209.000000  219.000000  221.000000  ...      212.0      215.0      208.0
719  169.176471  167.941176  166.705882  ...      123.0      106.0      107.0
720  106.000000  107.000000  100.000000  ...      200.0      194.0      177.0
721  250.000000  245.000000  250.000000  ...       89.0       80.0       69.0
722   89.000000   80.000000   69.000000  ...       92.0       93.0       86.0

[723 rows x 30 columns]
40.0
400.0 40.0
{1: 60.0, 2: 80.0, 3: 100.0, 4: 120.0, 5: 140.0, 6: 160.0, 7: 180.0, 8: 200.0, 9: 220.0, 10: 240.0, 11: 260.0, 12: 280.0, 13: 300.0, 14: 320.0, 15: 340.0, 16: 360.0, 17: 380.0, 18: 400.0}

In [13]:
print(dict1)
b_max = meal_df.max(axis=1)
b_max_list = b_max.values.tolist()
print(b_max_list)
b_max_binlist=[]
list1 = list(dict1.values())
print(list1)
for i in b_max_list:
  if i<=list1[0]:
    b_max_binlist.append(1)
  elif i<=list1[1]:
    b_max_binlist.append(2)
  elif i<=list1[2]:
    b_max_binlist.append(3)
  elif i<=list1[3]:
    b_max_binlist.append(4)
  elif i<=list1[4]:
    b_max_binlist.append(5)
  elif i<=list1[5]:
    b_max_binlist.append(6)
  elif i<=list1[6]:
    b_max_binlist.append(7)
  elif i<=list1[7]:
    b_max_binlist.append(8)
  elif i<=list1[8]:
    b_max_binlist.append(9)
  elif i<=list1[9]:
    b_max_binlist.append(10)
  elif i<=list1[10]:
    b_max_binlist.append(11)
  elif i<=list1[11]:
    b_max_binlist.append(12)
  elif i<=list1[12]:
    b_max_binlist.append(13)
  elif i<=list1[13]:
    b_max_binlist.append(14)
  elif i<=list1[14]:
    b_max_binlist.append(15)
  elif i<=list1[15]:
    b_max_binlist.append(16)
  elif i<=list1[16]:
    b_max_binlist.append(17)
  elif i<=list1[17]:
    b_max_binlist.append(18)
print(len(b_max_binlist))    
meal_cgm_master['B_max']=b_max_binlist

{1: 60.0, 2: 80.0, 3: 100.0, 4: 120.0, 5: 140.0, 6: 160.0, 7: 180.0, 8: 200.0, 9: 220.0, 10: 240.0, 11: 260.0, 12: 280.0, 13: 300.0, 14: 320.0, 15: 340.0, 16: 360.0, 17: 380.0, 18: 400.0}
[324.0, 203.0, 304.0, 132.0, 216.0, 213.0, 200.0, 226.0, 175.0, 272.0, 251.0, 134.0, 201.0, 277.0, 245.0, 276.0, 134.6, 105.19999999999999, 87.2, 88.0, 181.0, 267.0, 207.0, 224.0, 226.0, 192.0, 157.0, 248.0, 247.0, 160.0, 181.0, 273.0, 144.0, 251.0, 268.0, 380.0, 272.0, 312.0, 302.0, 255.4022988505747, 244.3448275862069, 236.57471264367817, 268.0, 263.0, 181.0, 290.0, 267.0, 318.0, 194.0, 287.0, 243.0, 226.0, 335.0, 312.0, 88.0, 286.0, 206.0, 211.0, 152.0, 161.0, 221.0, 238.0, 239.0, 253.0, 313.0, 156.0, 285.0, 151.0, 141.0, 163.0, 251.0, 362.0, 135.0, 167.0, 197.0, 228.0, 132.0, 156.0, 154.0, 185.0, 180.0, 117.0, 184.0, 124.0, 180.0, 321.0, 219.0, 190.0, 199.0, 232.0, 259.0, 196.0, 377.0, 162.0, 270.0, 383.0, 355.0, 357.0, 366.0, 400.0, 236.0, 167.0, 139.0, 124.35616438356163, 298.32876712328766, 354.0, 278.0, 160.0, 189.0, 204.0, 236.0, 220.0, 228.0, 248.0, 298.0, 216.0, 241.0, 267.0, 385.0, 308.0, 153.0, 395.0, 186.0, 321.0, 216.0, 235.0, 251.0, 156.0, 265.0, 238.24590163934425, 167.0, 360.0, 193.0, 204.0, 151.0, 214.0, 250.0, 300.0, 282.0, 229.0, 197.0, 235.0, 264.0, 202.0, 314.0, 193.0, 306.0, 147.0, 356.0, 353.0, 290.0, 134.0, 232.0, 232.0, 148.0, 278.0, 209.0, 135.0, 273.0, 212.0, 188.0, 212.0, 277.0, 246.0, 207.0, 160.0, 189.0, 171.0, 224.0, 165.0, 155.0, 179.0, 304.0, 188.0, 210.0, 142.0, 198.0, 215.0, 312.0, 326.0, 138.0, 223.0, 240.0, 212.0, 221.0, 281.0, 190.0, 193.0, 314.0, 251.0, 170.0, 232.0, 274.0, 157.0, 223.0, 218.0, 294.0, 201.0, 234.0, 179.0, 141.0, 241.0, 192.0, 215.0, 138.0, 159.0, 199.0, 281.0, 281.0, 161.0, 179.0, 254.0, 237.0, 338.0, 340.0, 189.0, 296.0, 217.0, 193.0, 238.0, 147.0, 272.0, 269.0, 211.0, 265.0, 191.0, 253.0, 261.0, 226.0, 280.0, 241.0, 207.0, 182.0, 263.0, 242.0, 252.0, 222.0, 281.0, 144.0, 177.0, 218.0, 274.0, 343.0, 177.0, 317.0, 170.0, 275.0, 159.0, 176.0, 297.0, 250.0, 328.0, 239.0, 227.0, 209.0, 198.0, 237.0, 171.0, 247.0, 185.0, 293.0, 121.72, 209.0, 216.0, 186.0, 178.0, 308.0, 108.0, 256.0, 78.67924528301887, 71.0, 237.0, 214.0, 162.0, 225.0, 163.0, 178.0, 394.0, 273.0, 130.0, 363.0, 227.0, 280.0, 137.0, 210.0, 181.0, 150.0, 224.0, 308.0, 352.0, 203.0, 286.0, 231.0, 179.0327868852459, 155.0, 207.0, 231.0, 239.0, 149.0, 110.0, 183.0, 107.82352941176471, 118.94117647058823, 293.0, 234.0, 290.0, 289.0, 201.0, 311.0, 208.0, 217.0, 221.0, 223.0, 250.0, 187.0, 164.0, 218.0, 256.0, 258.0, 242.0, 147.0, 159.0, 161.44329896907217, 190.0, 171.0, 237.0, 224.0, 148.0, 197.0, 214.0, 277.0, 261.6979166666667, 313.0, 132.0, 234.0, 179.0, 187.0, 186.0, 127.0, 266.0, 260.0, 276.0, 295.0, 168.0, 275.0, 163.0, 158.0, 308.0, 232.0, 171.0, 185.0, 328.0, 168.6, 160.0, 273.0, 113.0, 98.0, 181.0, 149.0, 107.57142857142857, 157.72527472527472, 262.0, 272.0, 263.0, 150.0, 87.0, 334.0, 400.0, 129.0, 269.0, 148.0, 162.0, 185.0, 227.0, 239.07999999999998, 115.0, 195.0, 268.0, 213.0, 189.0, 312.0, 239.0, 259.0, 191.0, 296.0, 290.0, 165.0, 288.0, 234.0, 273.0, 200.0, 221.0, 175.0, 184.0, 199.0, 129.0, 120.0, 198.0, 185.0, 93.0, 262.0, 148.0, 252.0, 253.0, 160.07142857142858, 183.0, 221.0, 240.77777777777777, 301.0, 109.25547445255475, 150.38686131386862, 229.12408759124088, 238.0, 237.0, 223.0, 202.0, 201.0, 156.0, 256.0, 259.0, 245.0, 289.0, 165.0, 192.0, 185.0, 147.0, 224.0, 137.36363636363637, 198.0, 229.0, 170.0, 288.0, 209.0, 133.71028037383178, 144.83177570093457, 158.0, 227.0, 287.0, 338.0, 223.0, 187.0, 203.0, 247.0, 160.0, 221.0, 161.0, 214.0, 204.0, 282.0, 238.0, 191.0, 221.0, 132.0, 184.0, 236.0, 265.0, 283.0, 170.0, 213.0, 181.0, 146.0, 103.0, 103.78846153846153, 157.0, 99.0, 96.60227272727272, 140.0, 149.0, 212.0, 187.0, 170.0, 181.0, 142.0, 247.0, 182.0, 199.0, 220.0, 189.0, 177.0, 209.0, 178.0, 166.0, 196.0, 202.0, 336.0, 166.0, 321.0, 153.0, 257.0, 257.0, 210.0, 115.5625, 169.0, 195.0, 150.0, 268.0, 99.0, 159.0, 201.27586206896552, 241.0, 235.0, 203.0, 222.0, 187.0, 163.0, 267.0, 169.0, 166.0, 161.0, 213.0, 226.0, 179.0, 276.0, 197.0, 179.0, 178.0, 267.0, 272.0, 183.0, 178.0, 199.0, 361.0, 208.0, 164.0, 179.0, 172.0, 317.0, 268.0, 139.0, 184.0, 250.0, 163.0, 150.0, 250.0, 154.0, 255.0, 264.0, 223.0, 195.0, 127.0, 215.0, 203.0, 183.75, 190.0, 228.0, 191.0, 242.0, 171.0, 237.0, 303.0, 376.0, 369.0, 246.0, 245.0, 188.0, 163.0, 285.0, 189.0, 175.0, 308.0, 126.0, 105.0, 198.0, 200.0, 213.0, 157.91666666666669, 133.375, 180.88, 275.0, 280.0, 264.0, 187.0, 264.0, 168.0, 281.0, 274.0, 239.0, 260.0, 293.0, 239.0, 182.0, 302.0, 259.0, 321.0, 166.4, 167.0, 277.0, 333.0, 216.0, 208.0, 271.0, 266.0, 195.0, 162.0, 205.0, 194.0, 189.0, 235.0, 281.0, 203.0, 293.0, 317.0, 207.0, 146.0, 226.0, 191.0, 209.0, 221.0, 121.4931506849315, 249.0, 216.0, 257.0, 231.0, 171.0, 210.0, 163.0, 188.0, 328.0, 175.0, 211.0, 215.0, 263.0, 270.0, 287.0, 247.0, 280.0, 259.0, 231.0, 246.0, 216.0, 208.0, 300.0, 242.0, 137.0, 213.0, 245.16438356164383, 288.0, 219.0, 143.0, 208.0, 165.0, 257.0, 196.0, 238.0, 154.0, 263.0, 209.0, 263.0, 306.0, 207.0, 186.0, 239.0, 189.0, 340.0, 190.0, 134.0, 152.0, 258.0, 237.0, 204.0, 189.75, 217.0, 266.0, 173.0, 290.0, 249.0, 241.0, 267.0, 246.0, 274.0, 273.0, 213.0, 156.0, 205.0, 242.0, 225.0, 187.0, 165.0, 305.0, 255.0, 184.0, 248.0, 225.0, 226.0, 189.0, 159.0, 313.0, 190.0, 209.0, 235.0, 161.0, 221.0, 163.0, 277.0, 165.0, 177.0, 221.0, 221.0, 271.0, 261.0, 336.0, 276.0, 195.0, 163.0, 179.0, 378.0, 215.0, 216.0, 232.0, 386.0, 376.0, 296.0, 228.0, 204.0, 252.0, 169.0, 150.0, 209.0, 221.0, 169.1764705882353, 201.0, 289.0, 129.0]
[60.0, 80.0, 100.0, 120.0, 140.0, 160.0, 180.0, 200.0, 220.0, 240.0, 260.0, 280.0, 300.0, 320.0, 340.0, 360.0, 380.0, 400.0]
723

In [14]:
b_min_binlist = []
for j in next_hit_list:
  i=int(j)
  if i<=list1[0]:
    b_min_binlist.append(1)
  elif i<=list1[1]:
    b_min_binlist.append(2)
  elif i<=list1[2]:
    b_min_binlist.append(3)
  elif i<=list1[3]:
    b_min_binlist.append(4)
  elif i<=list1[4]:
    b_min_binlist.append(5)
  elif i<=list1[5]:
    b_min_binlist.append(6)
  elif i<=list1[6]:
    b_min_binlist.append(7)
  elif i<=list1[7]:
    b_min_binlist.append(8)
  elif i<=list1[8]:
    b_min_binlist.append(9)
  elif i<=list1[9]:
    b_min_binlist.append(10)
  elif i<=list1[10]:
    b_min_binlist.append(11)
  elif i<=list1[11]:
    b_min_binlist.append(12)
  elif i<=list1[12]:
    b_min_binlist.append(13)
  elif i<=list1[13]:
    b_min_binlist.append(14)
  elif i<=list1[14]:
    b_min_binlist.append(15)
  elif i<=list1[15]:
    b_min_binlist.append(16)
  elif i<=list1[16]:
    b_min_binlist.append(17)
  elif i<=list1[17]:
    b_min_binlist.append(18)
print(len(b_min_binlist),b_min_binlist)

723 [14, 5, 11, 3, 9, 5, 1, 8, 7, 6, 9, 2, 8, 8, 9, 11, 5, 4, 3, 2, 4, 11, 7, 4, 7, 7, 6, 6, 4, 3, 4, 9, 3, 5, 11, 17, 10, 8, 5, 11, 11, 10, 7, 10, 3, 4, 9, 14, 8, 12, 9, 9, 5, 13, 2, 11, 5, 8, 6, 6, 4, 6, 10, 5, 14, 2, 7, 5, 2, 6, 6, 15, 1, 6, 5, 2, 4, 4, 6, 5, 5, 4, 6, 1, 7, 9, 3, 5, 8, 5, 11, 4, 15, 2, 5, 16, 1, 14, 10, 18, 7, 7, 4, 5, 9, 15, 12, 4, 3, 8, 5, 3, 9, 9, 12, 4, 5, 11, 8, 9, 6, 15, 7, 13, 4, 8, 9, 4, 6, 10, 6, 15, 4, 4, 2, 6, 4, 7, 12, 8, 7, 3, 11, 2, 4, 4, 11, 3, 15, 15, 12, 5, 7, 9, 5, 8, 5, 5, 12, 4, 5, 7, 9, 6, 4, 6, 5, 4, 8, 2, 6, 4, 11, 5, 5, 3, 6, 5, 7, 12, 5, 7, 9, 7, 9, 6, 7, 5, 5, 9, 7, 4, 12, 2, 7, 4, 7, 7, 8, 5, 4, 10, 7, 4, 5, 4, 6, 12, 12, 6, 5, 9, 10, 5, 13, 8, 4, 4, 6, 4, 3, 11, 12, 8, 11, 7, 1, 11, 6, 1, 8, 9, 7, 5, 7, 8, 9, 11, 4, 3, 8, 9, 14, 6, 6, 4, 12, 6, 6, 11, 8, 12, 10, 6, 7, 4, 3, 2, 10, 4, 12, 2, 7, 9, 6, 5, 13, 1, 4, 2, 2, 10, 5, 5, 8, 6, 6, 13, 10, 3, 17, 9, 6, 3, 8, 7, 5, 8, 5, 15, 6, 12, 10, 7, 4, 5, 5, 10, 4, 3, 7, 3, 4, 6, 5, 12, 12, 7, 13, 6, 5, 3, 8, 10, 6, 6, 6, 11, 11, 8, 5, 4, 6, 8, 6, 10, 4, 3, 6, 9, 12, 9, 14, 3, 5, 7, 3, 6, 1, 12, 11, 5, 13, 3, 11, 3, 4, 11, 7, 3, 3, 14, 6, 4, 12, 2, 2, 3, 3, 2, 4, 8, 12, 4, 3, 1, 6, 16, 2, 11, 6, 6, 8, 7, 9, 2, 8, 12, 4, 6, 12, 10, 5, 5, 12, 12, 4, 12, 9, 12, 3, 6, 7, 7, 4, 4, 3, 4, 7, 2, 11, 3, 6, 10, 6, 5, 5, 6, 13, 3, 5, 9, 10, 10, 5, 3, 7, 4, 11, 4, 4, 11, 5, 6, 7, 6, 4, 5, 8, 5, 4, 7, 9, 5, 5, 6, 3, 8, 13, 7, 8, 8, 10, 6, 5, 4, 7, 6, 12, 6, 5, 4, 3, 7, 7, 11, 5, 3, 2, 6, 4, 2, 3, 4, 3, 2, 5, 5, 9, 6, 4, 8, 5, 4, 1, 3, 4, 7, 7, 7, 4, 3, 6, 8, 9, 6, 6, 3, 5, 11, 8, 3, 6, 8, 5, 12, 2, 3, 5, 4, 10, 6, 9, 6, 5, 12, 4, 3, 5, 3, 6, 6, 6, 8, 7, 3, 12, 11, 6, 6, 5, 16, 8, 7, 4, 7, 10, 10, 3, 7, 4, 4, 6, 8, 4, 11, 12, 5, 7, 2, 8, 7, 7, 8, 9, 7, 10, 6, 9, 13, 13, 16, 6, 9, 3, 4, 12, 6, 7, 13, 2, 2, 8, 6, 9, 6, 5, 3, 12, 12, 12, 6, 11, 6, 4, 12, 9, 11, 11, 6, 3, 13, 11, 14, 6, 3, 4, 6, 9, 4, 9, 12, 5, 3, 7, 8, 7, 8, 9, 8, 6, 10, 8, 5, 10, 8, 9, 9, 3, 10, 9, 11, 10, 3, 4, 2, 2, 13, 3, 7, 5, 7, 11, 6, 10, 11, 10, 7, 11, 7, 5, 12, 9, 5, 4, 7, 13, 8, 3, 7, 6, 9, 3, 9, 6, 11, 8, 12, 7, 1, 7, 9, 6, 11, 8, 3, 5, 11, 7, 5, 8, 4, 12, 5, 9, 8, 9, 11, 10, 12, 10, 3, 4, 8, 5, 8, 7, 7, 13, 9, 4, 9, 6, 9, 8, 5, 14, 6, 5, 10, 7, 5, 4, 9, 6, 6, 6, 10, 11, 9, 12, 12, 4, 2, 3, 15, 5, 5, 5, 13, 16, 6, 8, 8, 6, 3, 5, 5, 9, 7, 5, 12, 1]

In [15]:
meal_cgm_master['B_max']=b_max_binlist 
meal_cgm_master['B_min']=b_min_binlist

In [16]:
meal_cgm_master

       cgm_val0    cgm_val1    cgm_val2  ...   val  B_max  B_min
0    314.000000  310.000000  309.000000  ...   6.4     15     14
1     58.000000   59.000000   63.000000  ...  12.1      9      5
2    304.000000  292.000000  281.000000  ...   7.4     14     11
3     40.000000   40.000000   40.000000  ...   6.2      5      3
4    212.000000  210.000000  204.000000  ...   2.8      9      9
..          ...         ...         ...  ...   ...    ...    ...
718  209.000000  219.000000  221.000000  ...   3.2     10      9
719  169.176471  167.941176  166.705882  ...   1.0      7      7
720  106.000000  107.000000  100.000000  ...   8.8      9      5
721  250.000000  245.000000  250.000000  ...   2.5     13     12
722   89.000000   80.000000   69.000000  ...   1.2      5      1

[723 rows x 33 columns]

In [17]:
import math
def my_round(i):
  f = math.floor(i)
  return f if i - f < 0.5 else f+1
meal_cgm_master['val'] = [my_round(i) for i in meal_cgm_master['val']]

In [18]:
meal_cgm_master

       cgm_val0    cgm_val1    cgm_val2  ...  val  B_max  B_min
0    314.000000  310.000000  309.000000  ...    6     15     14
1     58.000000   59.000000   63.000000  ...   12      9      5
2    304.000000  292.000000  281.000000  ...    7     14     11
3     40.000000   40.000000   40.000000  ...    6      5      3
4    212.000000  210.000000  204.000000  ...    3      9      9
..          ...         ...         ...  ...  ...    ...    ...
718  209.000000  219.000000  221.000000  ...    3     10      9
719  169.176471  167.941176  166.705882  ...    1      7      7
720  106.000000  107.000000  100.000000  ...    9      9      5
721  250.000000  245.000000  250.000000  ...    3     13     12
722   89.000000   80.000000   69.000000  ...    1      5      1

[723 rows x 33 columns]

In [19]:
import collections
dict_bs = collections.Counter([(i,j) for i,j in zip(meal_cgm_master['B_min'],meal_cgm_master['B_max'])])
print(dict_bs)

Counter({(6, 7): 25, (12, 12): 24, (7, 8): 21, (6, 8): 20, (11, 12): 19, (9, 10): 19, (5, 9): 18, (8, 8): 18, (8, 9): 17, (10, 10): 17, (12, 13): 17, (4, 6): 17, (7, 7): 15, (7, 9): 15, (6, 6): 14, (11, 11): 14, (4, 9): 14, (3, 7): 14, (9, 11): 13, (5, 6): 13, (4, 7): 13, (3, 6): 12, (5, 8): 12, (5, 10): 12, (8, 10): 11, (5, 5): 11, (4, 8): 11, (7, 10): 11, (3, 8): 11, (9, 9): 10, (10, 11): 10, (6, 10): 9, (5, 7): 9, (3, 5): 8, (4, 11): 8, (9, 12): 8, (13, 14): 8, (4, 10): 7, (6, 11): 7, (2, 3): 6, (5, 11): 6, (6, 9): 6, (8, 11): 6, (3, 4): 6, (2, 5): 5, (10, 12): 5, (11, 13): 5, (3, 9): 5, (2, 7): 5, (15, 16): 5, (6, 13): 5, (2, 4): 5, (11, 14): 4, (6, 12): 4, (14, 14): 4, (2, 6): 4, (7, 13): 4, (1, 5): 4, (13, 15): 4, (3, 10): 4, (14, 15): 3, (8, 12): 3, (4, 4): 3, (5, 14): 3, (4, 13): 3, (15, 17): 3, (4, 5): 3, (5, 12): 3, (9, 13): 3, (12, 15): 3, (6, 15): 3, (16, 17): 3, (1, 8): 2, (3, 3): 2, (17, 17): 2, (7, 12): 2, (5, 15): 2, (9, 15): 2, (16, 18): 2, (14, 16): 2, (2, 9): 2, (7, 14): 2, (7, 11): 2, (2, 2): 2, (13, 18): 2, (13, 13): 2, (4, 12): 2, (10, 14): 2, (8, 14): 1, (2, 10): 1, (1, 16): 1, (10, 17): 1, (18, 18): 1, (8, 18): 1, (9, 14): 1, (15, 18): 1, (4, 14): 1, (1, 11): 1, (1, 12): 1, (6, 14): 1, (1, 4): 1, (1, 3): 1, (12, 14): 1, (8, 13): 1, (5, 13): 1, (13, 17): 1, (2, 8): 1, (1, 9): 1, (11, 15): 1})

In [20]:
dict_bs2 = collections.Counter([(i,j,k) for i,j,k in zip(meal_cgm_master['B_min'],meal_cgm_master['B_max'],meal_cgm_master['val'])])
dict_bs2

Counter({(1, 3, 1): 1,
         (1, 4, 8): 1,
         (1, 5, 1): 1,
         (1, 5, 3): 1,
         (1, 5, 4): 1,
         (1, 5, 9): 1,
         (1, 8, 2): 1,
         (1, 8, 6): 1,
         (1, 9, 9): 1,
         (1, 11, 5): 1,
         (1, 12, 3): 1,
         (1, 16, 2): 1,
         (2, 2, 6): 1,
         (2, 2, 9): 1,
         (2, 3, 5): 1,
         (2, 3, 6): 3,
         (2, 3, 8): 1,
         (2, 3, 12): 1,
         (2, 4, 0): 1,
         (2, 4, 1): 1,
         (2, 4, 3): 1,
         (2, 4, 7): 2,
         (2, 5, 2): 1,
         (2, 5, 3): 1,
         (2, 5, 4): 1,
         (2, 5, 6): 1,
         (2, 5, 8): 1,
         (2, 6, 1): 1,
         (2, 6, 4): 1,
         (2, 6, 5): 1,
         (2, 6, 9): 1,
         (2, 7, 1): 2,
         (2, 7, 3): 1,
         (2, 7, 6): 1,
         (2, 7, 7): 1,
         (2, 8, 2): 1,
         (2, 9, 1): 1,
         (2, 9, 7): 1,
         (2, 10, 7): 1,
         (3, 3, 1): 1,
         (3, 3, 2): 1,
         (3, 4, 1): 2,
         (3, 4, 2): 1,
         (3, 4, 4): 1,
         (3, 4, 9): 1,
         (3, 4, 11): 1,
         (3, 5, 2): 1,
         (3, 5, 3): 3,
         (3, 5, 4): 1,
         (3, 5, 6): 2,
         (3, 5, 12): 1,
         (3, 6, 2): 1,
         (3, 6, 3): 4,
         (3, 6, 4): 1,
         (3, 6, 5): 1,
         (3, 6, 7): 1,
         (3, 6, 8): 1,
         (3, 6, 9): 1,
         (3, 6, 10): 1,
         (3, 6, 12): 1,
         (3, 7, 1): 2,
         (3, 7, 2): 2,
         (3, 7, 3): 3,
         (3, 7, 4): 1,
         (3, 7, 5): 2,
         (3, 7, 6): 1,
         (3, 7, 7): 3,
         (3, 8, 1): 1,
         (3, 8, 2): 3,
         (3, 8, 3): 1,
         (3, 8, 4): 4,
         (3, 8, 6): 2,
         (3, 9, 3): 2,
         (3, 9, 5): 1,
         (3, 9, 7): 2,
         (3, 10, 1): 1,
         (3, 10, 7): 1,
         (3, 10, 8): 1,
         (3, 10, 11): 1,
         (4, 4, 0): 1,
         (4, 4, 5): 2,
         (4, 5, 2): 2,
         (4, 5, 4): 1,
         (4, 6, 1): 2,
         (4, 6, 2): 3,
         (4, 6, 3): 2,
         (4, 6, 4): 1,
         (4, 6, 5): 1,
         (4, 6, 6): 2,
         (4, 6, 7): 3,
         (4, 6, 9): 2,
         (4, 6, 11): 1,
         (4, 7, 1): 2,
         (4, 7, 2): 3,
         (4, 7, 3): 3,
         (4, 7, 5): 1,
         (4, 7, 6): 3,
         (4, 7, 12): 1,
         (4, 8, 2): 2,
         (4, 8, 3): 2,
         (4, 8, 4): 1,
         (4, 8, 7): 1,
         (4, 8, 8): 2,
         (4, 8, 9): 1,
         (4, 8, 10): 1,
         (4, 8, 13): 1,
         (4, 9, 2): 1,
         (4, 9, 4): 4,
         (4, 9, 5): 2,
         (4, 9, 6): 6,
         (4, 9, 8): 1,
         (4, 10, 2): 2,
         (4, 10, 3): 1,
         (4, 10, 5): 1,
         (4, 10, 6): 2,
         (4, 10, 13): 1,
         (4, 11, 2): 1,
         (4, 11, 3): 2,
         (4, 11, 6): 1,
         (4, 11, 7): 2,
         (4, 11, 9): 2,
         (4, 12, 5): 1,
         (4, 12, 7): 1,
         (4, 13, 4): 1,
         (4, 13, 5): 1,
         (4, 13, 6): 1,
         (4, 14, 12): 1,
         (5, 5, 0): 1,
         (5, 5, 2): 2,
         (5, 5, 3): 3,
         (5, 5, 4): 1,
         (5, 5, 5): 1,
         (5, 5, 7): 1,
         (5, 5, 8): 1,
         (5, 5, 9): 1,
         (5, 6, 0): 1,
         (5, 6, 1): 5,
         (5, 6, 3): 1,
         (5, 6, 5): 1,
         (5, 6, 6): 1,
         (5, 6, 8): 3,
         (5, 6, 9): 1,
         (5, 7, 1): 2,
         (5, 7, 2): 1,
         (5, 7, 3): 2,
         (5, 7, 5): 1,
         (5, 7, 8): 2,
         (5, 7, 11): 1,
         (5, 8, 1): 1,
         (5, 8, 2): 3,
         (5, 8, 4): 2,
         (5, 8, 5): 2,
         (5, 8, 6): 1,
         (5, 8, 7): 2,
         (5, 8, 9): 1,
         (5, 9, 1): 1,
         (5, 9, 2): 5,
         (5, 9, 3): 2,
         (5, 9, 4): 3,
         (5, 9, 5): 1,
         (5, 9, 6): 2,
         (5, 9, 9): 1,
         (5, 9, 10): 1,
         (5, 9, 11): 1,
         (5, 9, 12): 1,
         (5, 10, 1): 1,
         (5, 10, 2): 2,
         (5, 10, 3): 1,
         (5, 10, 5): 3,
         (5, 10, 6): 1,
         (5, 10, 8): 1,
         (5, 10, 9): 2,
         (5, 10, 10): 1,
         (5, 11, 2): 3,
         (5, 11, 5): 2,
         (5, 11, 7): 1,
         (5, 12, 3): 1,
         (5, 12, 4): 1,
         (5, 12, 6): 1,
         (5, 13, 6): 1,
         (5, 14, 7): 1,
         (5, 14, 9): 2,
         (5, 15, 4): 1,
         (5, 15, 6): 1,
         (6, 6, 0): 6,
         (6, 6, 1): 1,
         (6, 6, 2): 3,
         (6, 6, 3): 1,
         (6, 6, 4): 1,
         (6, 6, 7): 1,
         (6, 6, 8): 1,
         (6, 7, 0): 5,
         (6, 7, 1): 9,
         (6, 7, 2): 4,
         (6, 7, 3): 1,
         (6, 7, 4): 1,
         (6, 7, 6): 2,
         (6, 7, 7): 1,
         (6, 7, 9): 1,
         (6, 7, 11): 1,
         (6, 8, 1): 5,
         (6, 8, 2): 4,
         (6, 8, 3): 4,
         (6, 8, 5): 2,
         (6, 8, 6): 1,
         (6, 8, 7): 3,
         (6, 8, 12): 1,
         (6, 9, 3): 3,
         (6, 9, 4): 1,
         (6, 9, 5): 1,
         (6, 9, 8): 1,
         (6, 10, 1): 1,
         (6, 10, 2): 3,
         (6, 10, 3): 2,
         (6, 10, 4): 2,
         (6, 10, 8): 1,
         (6, 11, 2): 1,
         (6, 11, 3): 1,
         (6, 11, 5): 1,
         (6, 11, 6): 1,
         (6, 11, 7): 1,
         (6, 11, 9): 1,
         (6, 11, 13): 1,
         (6, 12, 3): 1,
         (6, 12, 4): 1,
         (6, 12, 5): 1,
         (6, 12, 8): 1,
         (6, 13, 4): 1,
         (6, 13, 5): 2,
         (6, 13, 6): 1,
         (6, 13, 11): 1,
         (6, 14, 4): 1,
         (6, 15, 1): 1,
         (6, 15, 2): 1,
         (6, 15, 12): 1,
         (7, 7, 0): 4,
         (7, 7, 1): 7,
         (7, 7, 2): 1,
         (7, 7, 3): 1,
         (7, 7, 7): 1,
         (7, 7, 12): 1,
         (7, 8, 0): 4,
         (7, 8, 1): 9,
         (7, 8, 2): 2,
         (7, 8, 3): 1,
         (7, 8, 5): 2,
         (7, 8, 7): 1,
         (7, 8, 10): 1,
         (7, 8, 11): 1,
         (7, 9, 0): 1,
         (7, 9, 1): 1,
         (7, 9, 2): 2,
         (7, 9, 3): 2,
         (7, 9, 4): 3,
         (7, 9, 5): 1,
         (7, 9, 6): 2,
         (7, 9, 7): 3,
         (7, 10, 1): 2,
         (7, 10, 3): 3,
         (7, 10, 4): 1,
         (7, 10, 5): 1,
         (7, 10, 9): 2,
         (7, 10, 10): 1,
         (7, 10, 16): 1,
         (7, 11, 2): 1,
         (7, 11, 3): 1,
         (7, 12, 6): 1,
         (7, 12, 7): 1,
         (7, 13, 1): 1,
         (7, 13, 3): 1,
         (7, 13, 6): 1,
         (7, 13, 8): 1,
         (7, 14, 3): 1,
         (7, 14, 9): 1,
         (8, 8, 0): 4,
         (8, 8, 1): 9,
         (8, 8, 2): 2,
         (8, 8, 3): 3,
         (8, 9, 0): 1,
         (8, 9, 1): 9,
         (8, 9, 2): 1,
         (8, 9, 3): 2,
         (8, 9, 7): 2,
         (8, 9, 8): 1,
         (8, 9, 13): 1,
         (8, 10, 1): 1,
         (8, 10, 3): 2,
         (8, 10, 4): 2,
         (8, 10, 6): 1,
         (8, 10, 7): 2,
         (8, 10, 8): 2,
         (8, 10, 9): 1,
         (8, 11, 2): 2,
         (8, 11, 3): 2,
         (8, 11, 5): 1,
         (8, 11, 6): 1,
         (8, 12, 2): 1,
         (8, 12, 3): 1,
         (8, 12, 6): 1,
         (8, 13, 10): 1,
         (8, 14, 4): 1,
         (8, 18, 10): 1,
         (9, 9, 1): 3,
         (9, 9, 2): 1,
         (9, 9, 3): 1,
         (9, 9, 5): 1,
         (9, 9, 6): 2,
         (9, 9, 7): 1,
         (9, 9, 9): 1,
         (9, 10, 0): 1,
         (9, 10, 1): 8,
         (9, 10, 2): 1,
         (9, 10, 3): 3,
         (9, 10, 4): 1,
         (9, 10, 5): 2,
         (9, 10, 6): 1,
         (9, 10, 10): 1,
         (9, 10, 11): 1,
         (9, 11, 0): 1,
         (9, 11, 1): 4,
         (9, 11, 2): 2,
         (9, 11, 4): 1,
         (9, 11, 5): 2,
         (9, 11, 6): 1,
         (9, 11, 7): 1,
         (9, 11, 8): 1,
         (9, 12, 2): 2,
         (9, 12, 3): 1,
         (9, 12, 4): 1,
         (9, 12, 5): 2,
         (9, 12, 6): 1,
         (9, 12, 9): 1,
         (9, 13, 3): 1,
         (9, 13, 4): 1,
         (9, 13, 8): 1,
         (9, 14, 6): 1,
         (9, 15, 4): 2,
         (10, 10, 0): 2,
         (10, 10, 1): 6,
         (10, 10, 2): 4,
         (10, 10, 3): 2,
         (10, 10, 4): 1,
         (10, 10, 10): 1,
         (10, 10, 11): 1,
         (10, 11, 0): 1,
         (10, 11, 1): 3,
         (10, 11, 2): 2,
         (10, 11, 3): 1,
         (10, 11, 4): 3,
         (10, 12, 2): 1,
         (10, 12, 3): 3,
         (10, 12, 7): 1,
         (10, 14, 3): 1,
         (10, 14, 6): 1,
         (10, 17, 8): 1,
         (11, 11, 0): 1,
         (11, 11, 1): 7,
         (11, 11, 2): 4,
         (11, 11, 5): 1,
         (11, 11, 6): 1,
         (11, 12, 0): 2,
         (11, 12, 1): 2,
         (11, 12, 2): 7,
         (11, 12, 3): 2,
         (11, 12, 4): 2,
         (11, 12, 5): 1,
         (11, 12, 6): 1,
         (11, 12, 7): 2,
         (11, 13, 0): 2,
         (11, 13, 3): 1,
         (11, 13, 4): 1,
         (11, 13, 7): 1,
         (11, 14, 4): 1,
         (11, 14, 7): 1,
         (11, 14, 11): 2,
         (11, 15, 7): 1,
         (12, 12, 1): 7,
         (12, 12, 2): 6,
         (12, 12, 3): 6,
         (12, 12, 4): 2,
         (12, 12, 7): 1,
         (12, 12, 9): 1,
         (12, 12, 11): 1,
         (12, 13, 1): 3,
         (12, 13, 2): 1,
         (12, 13, 3): 4,
         (12, 13, 4): 2,
         (12, 13, 5): 2,
         (12, 13, 6): 3,
         (12, 13, 7): 2,
         (12, 14, 1): 1,
         (12, 15, 2): 1,
         (12, 15, 4): 1,
         (12, 15, 5): 1,
         (13, 13, 1): 1,
         (13, 13, 2): 1,
         (13, 14, 1): 1,
         (13, 14, 2): 2,
         (13, 14, 3): 2,
         (13, 14, 4): 1,
         (13, 14, 5): 1,
         (13, 14, 8): 1,
         (13, 15, 0): 1,
         (13, 15, 1): 2,
         (13, 15, 11): 1,
         (13, 17, 2): 1,
         (13, 18, 2): 1,
         (13, 18, 9): 1,
         (14, 14, 2): 1,
         (14, 14, 3): 1,
         (14, 14, 4): 1,
         (14, 14, 6): 1,
         (14, 15, 0): 1,
         (14, 15, 5): 1,
         (14, 15, 6): 1,
         (14, 16, 0): 1,
         (14, 16, 2): 1,
         (15, 16, 0): 1,
         (15, 16, 3): 1,
         (15, 16, 4): 1,
         (15, 16, 5): 1,
         (15, 16, 8): 1,
         (15, 17, 1): 1,
         (15, 17, 6): 1,
         (15, 17, 10): 1,
         (15, 18, 11): 1,
         (16, 17, 2): 1,
         (16, 17, 4): 1,
         (16, 17, 5): 1,
         (16, 18, 2): 1,
         (16, 18, 6): 1,
         (17, 17, 1): 1,
         (17, 17, 2): 1,
         (18, 18, 3): 1})

In [43]:
dict_bs3 = {}
for i in dict_bs2.keys():
  dict_bs3[i] = dict_bs2[i]/dict_bs[(i[0],i[1])]
new_sorted = sorted(dict_bs3,key=lambda x:dict_bs3[x],reverse=True)#last csv
Largest_confidence_rules = []
Most_frequent_setlist = []
for i in new_sorted:
  if dict_bs3[i]==1.0:
    Largest_confidence_rules.append(i)
new_sorted2 = sorted(dict_bs2,key=lambda x:dict_bs2[x],reverse=True)#most frequent
for i in new_sorted2:
    if dict_bs2[i]==9:
      Most_frequent_setlist.append(i)
print(Largest_confidence_rules) 
print(Most_frequent_setlist)
#print(new_sorted)
#print(new_sorted2)

[(8, 14, 4), (2, 10, 7), (9, 15, 4), (1, 16, 2), (10, 17, 8), (18, 18, 3), (8, 18, 10), (9, 14, 6), (15, 18, 11), (4, 14, 12), (1, 11, 5), (1, 12, 3), (6, 14, 4), (1, 4, 8), (1, 3, 1), (12, 14, 1), (8, 13, 10), (5, 13, 6), (13, 17, 2), (2, 8, 2), (1, 9, 9), (11, 15, 7)]
[(7, 8, 1), (8, 8, 1), (8, 9, 1), (6, 7, 1)]

In [44]:
#CSV With Most Frequent Sets
df_mostfrequent = DataFrame()
df_mostfrequent['Most Frequent Rules/Sets'] = Most_frequent_setlist
df_largestConfidence = DataFrame()
df_largestConfidence['Largest Confidence Rules/Sets'] = Largest_confidence_rules

In [45]:
df_mostfrequent.to_csv('Most Frequent Sets.csv', index=False)
df_largestConfidence.to_csv('Largest Confidence Sets.csv', index=False)

In [46]:
count=[]
for i in  new_sorted:
  if(dict_bs3[i]<0.15):
    count.append(i)
sorted_sets = sorted(count)
print(sorted_sets)

[(3, 5, 2), (3, 5, 4), (3, 5, 12), (3, 6, 2), (3, 6, 4), (3, 6, 5), (3, 6, 7), (3, 6, 8), (3, 6, 9), (3, 6, 10), (3, 6, 12), (3, 7, 1), (3, 7, 2), (3, 7, 4), (3, 7, 5), (3, 7, 6), (3, 8, 1), (3, 8, 3), (4, 6, 1), (4, 6, 3), (4, 6, 4), (4, 6, 5), (4, 6, 6), (4, 6, 9), (4, 6, 11), (4, 7, 5), (4, 7, 12), (4, 8, 4), (4, 8, 7), (4, 8, 9), (4, 8, 10), (4, 8, 13), (4, 9, 2), (4, 9, 5), (4, 9, 8), (4, 10, 3), (4, 10, 5), (4, 10, 13), (4, 11, 2), (4, 11, 6), (5, 5, 0), (5, 5, 4), (5, 5, 5), (5, 5, 7), (5, 5, 8), (5, 5, 9), (5, 6, 0), (5, 6, 3), (5, 6, 5), (5, 6, 6), (5, 6, 9), (5, 7, 2), (5, 7, 5), (5, 7, 11), (5, 8, 1), (5, 8, 6), (5, 8, 9), (5, 9, 1), (5, 9, 3), (5, 9, 5), (5, 9, 6), (5, 9, 9), (5, 9, 10), (5, 9, 11), (5, 9, 12), (5, 10, 1), (5, 10, 3), (5, 10, 6), (5, 10, 8), (5, 10, 10), (6, 6, 1), (6, 6, 3), (6, 6, 4), (6, 6, 7), (6, 6, 8), (6, 7, 3), (6, 7, 4), (6, 7, 6), (6, 7, 7), (6, 7, 9), (6, 7, 11), (6, 8, 5), (6, 8, 6), (6, 8, 12), (6, 10, 1), (6, 10, 8), (6, 11, 2), (6, 11, 3), (6, 11, 5), (6, 11, 6), (6, 11, 7), (6, 11, 9), (6, 11, 13), (7, 7, 2), (7, 7, 3), (7, 7, 7), (7, 7, 12), (7, 8, 2), (7, 8, 3), (7, 8, 5), (7, 8, 7), (7, 8, 10), (7, 8, 11), (7, 9, 0), (7, 9, 1), (7, 9, 2), (7, 9, 3), (7, 9, 5), (7, 9, 6), (7, 10, 4), (7, 10, 5), (7, 10, 10), (7, 10, 16), (8, 8, 2), (8, 9, 0), (8, 9, 2), (8, 9, 3), (8, 9, 7), (8, 9, 8), (8, 9, 13), (8, 10, 1), (8, 10, 6), (8, 10, 9), (9, 9, 2), (9, 9, 3), (9, 9, 5), (9, 9, 7), (9, 9, 9), (9, 10, 0), (9, 10, 2), (9, 10, 4), (9, 10, 5), (9, 10, 6), (9, 10, 10), (9, 10, 11), (9, 11, 0), (9, 11, 4), (9, 11, 6), (9, 11, 7), (9, 11, 8), (9, 12, 3), (9, 12, 4), (9, 12, 6), (9, 12, 9), (10, 10, 0), (10, 10, 3), (10, 10, 4), (10, 10, 10), (10, 10, 11), (10, 11, 0), (10, 11, 3), (11, 11, 0), (11, 11, 5), (11, 11, 6), (11, 12, 0), (11, 12, 1), (11, 12, 3), (11, 12, 4), (11, 12, 5), (11, 12, 6), (11, 12, 7), (12, 12, 4), (12, 12, 7), (12, 12, 9), (12, 12, 11), (12, 13, 2), (12, 13, 4), (12, 13, 5), (12, 13, 7), (13, 14, 1), (13, 14, 4), (13, 14, 5), (13, 14, 8)]

In [47]:
df_anomolousRules = DataFrame()
df_anomolousRules['Rules with Confidence < 15 %'] = sorted_sets

In [48]:
df_anomolousRules.to_csv('Confidence < 15% Sets.csv', index=False)